/* Стили панели интерфейса: панель инструментов, кнопки и тд */

html {
  font: 14px Arial;
  height: 100%;
}

body {
  height: 100%;
  background-color: #FFFFFF;
}

input[type="radio"] {
  display:none;
}
header {
  width: 100%;
  height: 45px;
  background-color: #FFFFFF;
  display: flex;
  position: fixed;
  z-index: 5;
}
main {
  height: 100%;
  display: flex;
}
#left-panel {
  width: 45px;
  height: 20%;
  margin-top: 45px;
  background-color: #5a5a5a;
  position: fixed;
  z-index: 5;
  top: 190px;
  left: 50px;
}
#back-panel {
  width: 100%;
  height: 10%;
  background-color: #FFFFFF;
  display: flex;
}
#draw-panel {
  margin: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px 0px #5a5a5a;
  z-index: 0;
}
input[type="radio"] + label {
  width: 45px;
  height: 45px;
  background-image: url("img/line.png");
  background-color: #FFFFFF;
  color: #FF50E5;
  border: none;
  outline: none;
  display: flex;
  transition: background-color 0.3s;
  cursor: pointer;
}
input[type="radio"]:hover + label {
  background-image: url("img/line.png");
  background-color: #FF50E5;
}
input[type="radio"]:checked + label {
  background-image: url("img/line.png");
  background-color: #FF50E5;
}
input[type="radio"] + label i {
  background-image: url("img/line.png");
  margin: auto;
}

h1{
  z-index: 10000;
  position: absolute;
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 15px 30px;
  overflow: hidden;
  border: 2px solid;
  border-bottom-width: 4px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(30,255,188,1);
  background: rgba(255,255,255,1);
  transition: color .3s, background .5s;
  text-align: justify;
  text-align-last: left;
  text-decoration: underline;
  width: 170px;
  height: 110px;
}

.left {
    position: fixed;
    top: 600px;
    left: 0px;
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 15px 30px;
    overflow: hidden;
    border: 2px solid;
    border-bottom-width: 4px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(30,255,188,1);
    background: rgba(255,255,255,1);
    transition: color .3s, background .5s;
}
.left:hover{
    animation: stripes .75s infinite linear;
    background: linear-gradient(45deg, rgba(30,255,188,1) 25%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(30,255,188,1) 50%,      rgba(30,255,188,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1));
    background-size: 10px 10px;
    color: #FF50E5;
}
.left:active{
    margin: 10px;
}
